body {
    font-family: 'Courier New', Courier, monospace;    font-weight: 400;
    line-height: 1.7;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* master class cc */
.tp-0 {
    top: 0
}

.btm-0 {
    bottom: 0
}

.title {
    font-family: "Satisfy", Arial, serif;
    font-weight: 600 !important;
    font-size: 6em !important;
}

.name {
    font-weight: 600;
    line-height: 1.5;
    font-size: 2.5em;
    border: 1px solid #fff;
    background-color: #359bc3;
    border-radius: 10px;
    color: #fff;
}

.info {
    font-size: 1.2em;
}

.btn {
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-primary {
    background-color: #359bc3 !important;
    border: 2px solid #359bc3 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

    &:hover{
        background-color: #08b0f1 !important;
        border: 2px solid #08b0f1 !important;
    }

    &:focus{
        background-color: #08b0f1 !important;
        border: 2px solid #08b0f1 !important;
    }
}

.fh5co-heading{
    margin-bottom: 10px;
}

.couple-main {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.header-1-left {
    width: 30%;
    left: 0;
    top: 0;
    position: absolute;
}

.header-1-right {
    width: 30%;
    right: 0;
    top: 0;
    position: absolute;
}

.footer-1-left {
    width: 30%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.footer-1-right {
    width: 30%;
    right: 0;
    bottom: 0;
    position: absolute;
}

/* overlay class atau menu utama */
#overlay {
    background: #ffffff;
    /* background-color: #0298d4; */
    background-size: cover;
    height: calc(100vh);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

#overlay .content {
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2001;
    top: 0;
}

#overlay .content .imgheader {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 22%;
    z-index: -99999;
}

#overlay .couple-main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hide-overlay {
    transform: translateY(200%);
    transition: 0.4s ease-in-out;
}

.js .animate-box {
    opacity: 0;
}

.animate-box {
    .js & {
        opacity: 0;
    }
}

/* fh5co-header class atau section 1 */
#fh5co-header {
    height: calc(100vh);
    padding-top: 80px;
}

#fh5co-header .couple-main {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#fh5co-header .simply-countdown {
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.simply-countdown {
    /* The countdown */
    margin-bottom: 2em;
}

.simply-countdown>.simply-section {
    /* coutndown blocks */
    display: inline-block;
    background: #359bc3;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.simply-countdown>.simply-section>div {
    /* countdown block inner div */
    display: flex;
    flex-direction: column;
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
    display: block;
    color: white;
    /* amounts and words */
}

.simply-countdown>.simply-section .simply-amount {
    font-size: 1.8em;
    /* amounts */
}

.simply-countdown>.simply-section .simply-word {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: .8em;
    /* words */
}

#fh5co-event,
#fh5co-couple,
#fh5co-ayat,
#fh5co-footer {
    padding: 7em 0;
    clear: both;
}

#fh5co-couple {
    height: calc(100vh) !important;
    background-color: #359bc3;
    background-repeat: repeat;
    position: relative;
    color: #fff;
    align-content: center;

    .subtitle {
        font-size: 1.50em;
    }

    .description {
        font-size: 1.75em;
    }
}

#fh5co-couple .fh5co-heading img {
    margin-bottom: 10px;
    height: 35%;
    width: 60%;
}

#fh5co-event {
    height: calc(100vh) !important;
    background-color: #ffffff;
    background-repeat: repeat;
    position: relative;
    align-content: center;
}

#fh5co-event .event-wrap {
    background-color: rgb(253 255 243);
    padding: 30px;
    width: 100%;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 7px 6px #ccc;
}

#fh5co-event .event-wrap p,
#fh5co-event .event-wrap span {
    display: block;
}

#fh5co-event .event-wrap .event-col {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

/* Ayat */
#fh5co-ayat {
    align-content: center;
    background-image: url('../images/so-white.png');
    background-size: cover;
    height: calc(100vh);
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    /* background-color: #359bc3; */
    /* background-repeat: repeat; */
    /* color: #fff; */
    font-size: 1.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#fh5co-footer {
    height: calc(100vh) !important;
    background-repeat: repeat;
    position: relative;
    align-items: center;
}

#fh5co-footer .penutup {
    color: #359bc3 !important;
}

#fh5co-footer .hormatkami {
    font-size: 1.8em;
 }

#fh5co-footer .socialmedia {
    font-size: 1.25em;
}

#fh5co-footer .socialmedia small {
    font-size: 1em;
}

.fh5co-social-icons {
    margin: 0;
    padding: 0;
}

.fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    /* *display: inline; */
}

.fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    /* *display: inline; */
    color: #359bc3;
    padding-left: 10px;
    padding-right: 10px;
}

.fh5co-social-icons li a i {
    font-size: 2em;
}

/*Mobile*/
@media screen and (max-width: 480px) and (max-width: 768px)  {
    .header-1-left,
    .footer-1-left {
        height: 150px;
        width: 150px;
    }

    .header-1-right,
    .footer-1-right {
        height: 150px;
        width: 150px;
    }

    .title {
        font-size: 2em !important;
    }

    .name {
        font-size: 1.8em !important;
    }

    .info {
        font-size: .8em !important;
    }

    .simply-countdown>.simply-section {
        margin: 5px !important;
        width: 70px !important;
        height: 80px !important;
    }

    #fh5co-couple .info {
        font-size: 1em !important;
    }

    #fh5co-couple .subtitle {
        font-size: .9em !important;
    }

    #fh5co-couple .description {
        font-size: 1.3em !important;
    }

    #fh5co-couple .fh5co-heading img {
        height: 18% !important;
        width: 65% !important;
    }

    #fh5co-event .title {
        font-size: 2.5em !important;
    }

    #fh5co-event .event-wrap {
        margin-bottom: 10px;
    }

    #fh5co-event,
    #fh5co-couple,
    #fh5co-ayat,
    #fh5co-footer {
        padding: 3em 0;
    }

    #fh5co-footer .hormatkami {
        font-size: 1em;
    }

    #fh5co-footer .socialmedia{
        font-size: .725em;
    }
    #fh5co-footer .socialmedia small{
        font-size: .7em;
    }

    .fh5co-social-icons li a i {
        font-size: 1.2em;
    }
}